
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 200%;
}

h1 {
  color: #F7DBF0;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Kaushan Script', cursive;
}

h2 {
  color: #F7DBF0;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #3C8DAD;
  font-family: 'Montserrat', sans-serif;
}

.yeonah-img {
  width: 200px;
  height: 225px;
  border-radius: 100%;
  margin-top: 30px;
}

.illustration-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.cook-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.top-container {
  background-color: #91A4C7;
  position: relative;
  padding-top: 100px;
}

.middle-container {

}

.bottom-container {

}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
